<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 에는 인터페이스 풀 네임(패키지+인터페이스 이름) -->
<mapper namespace="com.spring.mvc.chap04.repository.ScoreMapper">

    <insert id="save">
        INSERT INTO tbl_score
        (name, kor, eng, math, total, average, grade)
        VALUES (#{name}, #{kor}, #{eng}, #{math}, #{total}, #{average}, #{grade})
    </insert>

    <!--    // 성적 정보 한개 삭제-->
    <!--    boolean deleteByStuNum(int stuNum);-->
    <insert id="deleteByStuNum">
        DELETE FROM tbl_score
        WHERE stu_num = #{stuNum}
    </insert>

    <!--    <resultMap id="student" type="com.spring.mvc.chap04.entity.Score">-->
    <!--        <result property="stuNum" column="stu_num"/>-->
    <!--    </resultMap>-->
    <!-- 동적 sql -->
    <select id="findAll" resultType="score">
        SELECT *
        FROM tbl_score1
        <if test="sort == 'num'">
            ORDER BY stu_num
        </if>
        <if test="sort == 'name'">
            ORDER BY name
        </if>
        <if test="sort == 'avg'">
            ORDER BY average DESC
        </if>
    </select>

    <!--    Score findByStuNum(int stuNum);-->
    <select id="findByStuNum" resultType="score">
        SELECT *
        FROM tbl_score
        WHERE stu_num = #{stuNum}
    </select>

</mapper>